*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

svg {
  color: white;
  border: 1px solid black; /* for debugging */
  max-width: 30px;
}

.sidebar {
  grid-row: 1 / 3;
  padding-top: 15px;
  background-color: blue; /* this is only temporary */
}

.sidebar-items {
  margin-bottom: 50px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 55px 1fr;
  align-items: center;
  grid-row-gap: 10px;
}

.sidebar-items:first-child svg {
  max-width: 45px;
}

.sidebar-items:first-child p {
  font-weight: bolder;
  font-size: 26px;
  color: white;
}

.sidebar-items:nth-child(n+2) svg {
  margin-left: 5px;
}

.sidebar-items:nth-child(n+2) p {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.header {
  background-color: rebeccapurple; /* this is only temporary */
  padding: 25px 50px;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.search {
  height: 25px;
  width: 90%;
  align-self: center;
  background-color: gray; /* this is only temporary */
  border-radius: 30px;
}

.search-items {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 30px;
}

.profile {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
}

.profile img {
  height: 80px;
  width: 80px;
}

.profile div p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile div p:first-child {
  font-size: small;
  font-weight: bold;
}

.profile div p:nth-child(2) {
  font-size: larger;
  font-weight: bolder;
}

.second-profile {
  display: grid;
  grid-template-columns: 60px 80px 1fr;
  align-items: center;
  gap: 10px;
  padding-left: 100px;
  margin-bottom: 65px;
}

.second-profile .icon svg {
  max-width: 24px;
  margin-left: 30px;
}

.second-profile img {
  height: 50px;
  width: 50px;
  justify-self: center;
}

.main-contents {
  background-color: aquamarine; /* this is only temporary */
}

img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.card-items p:first-child,
.info > p,
.headline,
.trend > p {
  font-weight: bolder;
}