svg {
  color: white;
  border: 1px solid black; /* for debugging */
  max-width: 30px;
}

.sidebar {
  background-color: blue; /* this is only temporary */
}

.search {
  height: 25px;
  width: 200px;
  background-color: gray; /* this is only temporary */
  border-radius: 30px;
}