svg {
  color: white;
  border: 1px solid black; /* for debugging */
  max-width: 30px;
}

.sidebar {
  background-color: blue; /* this is only temporary */
}

.header {
  background-color: rebeccapurple; /* this is only temporary */
}

.main-contents {
  background-color: aquamarine; /* this is only temporary */
}

.search {
  height: 25px;
  width: 200px;
  background-color: gray; /* this is only temporary */
  border-radius: 30px;
}

img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.card-items p:first-child,
.info > p,
.headline,
.trend > p {
  font-weight: bolder;
}